body {
  background-color: #151f2b;
  color: white;
}

.point-button {
  background-color: #fe8a00;
  border: none;
  font-weight: bold;
  color: #151f2b;
}

.point-button:hover {
  background-color: #FE8A00FA;
  color: #151f2b;
}

.cursor-pointer{
  cursor: pointer;
}

.modal-style{
  color: white;
}

.modal-content-custom {
  background-color: #151f2b;
  color: #fe8a00 ;
}

.modal-header-custom {
  background-color: #151f2b;
  color: #fe8a00 ;
  border: none;
  font-weight: bold;
}

.modal-footer-custom {
  border: none;
  background-color: #151f2b;
}
